<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_original"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_original"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".core.notifications.ReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.notifications.ReminderActionReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.source.NoteSyncReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.notifications.ReliabilityReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".feature.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".feature.editor.TaskEditActivity"
            android:exported="false"
            android:theme="@style/TaskEditSheetTheme" />
        <activity
            android:name=".feature.editor.MarkdownFileEditActivity"
            android:exported="false" />
        <activity
            android:name=".feature.sources.SourceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".feature.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".feature.about.AboutActivity"
            android:exported="false" />

        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
